<tui-root>
    <app-header></app-header>
    
    <app-sidenav>
        <main mainContent class="main__content">
            <router-outlet></router-outlet>
        </main>
    </app-sidenav>

    <ng-container ngProjectAs="tuiOverContent">
        <!-- Content over app content -->
    </ng-container>

    <ng-container ngProjectAs="tuiOverDialogs">
        <!-- Content over dialogs -->
    </ng-container>

    <ng-container ngProjectAs="tuiOverAlerts">
        <!-- Content over alerts -->
    </ng-container>

    <ng-container ngProjectAs="tuiOverPortals">
        <!-- Content over dropdowns -->
    </ng-container>

    <ng-container ngProjectAs="tuiOverHints">
        <!-- Content over hints -->
    </ng-container>
</tui-root>



