<mat-form-field style="width: 100%">
    <mat-label>{{ label }}</mat-label>
    <input type="text" matInput [formControl]="control" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
        @for (suggestion of suggestions; track suggestion) {
            <mat-option [value]="suggestion">
                {{ suggestion.value }}
            </mat-option>
        }
    </mat-autocomplete>
    @if (isLoading) {
        <label class="spinner">
            <div class="loading"></div>
        </label>
    }
</mat-form-field>