$main-color: #343E48;
$secondary-color: #16ADBE;

$grey: #72879E;
$grey-2: #EEEEEE;
$grey-3: #F2F2F2;
$grey-4: #CAD2DA;
$grey-5: #96959E;

$input-color: #F2F4F7;
$main-text: #343E48;
$secondary-text: #979797;

$green: #199F77;
$green-2: #E6FBF0;
$green-3: #1CD29C;

$red: #FC7D7D;
$red-2: #FC7D7D;

$yellow: #F5C422;