@use "@angular/material" as mat;

@import "./palette.scss";
@import "./custom-form-field.theme.scss";
@import "./custom-radio-btn.theme.scss";
@import "./custom-datepicker.theme.scss";

$custom-primary: mat.define-palette($main-palette);
$custom-accent: mat.define-palette($secondary-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme(
  $custom-primary,
  $custom-accent,
  $custom-warn
);

@mixin custom-components-theme($theme) {
  @include custom-form-field-theme($theme);
  @include custom-radio-btn-theme($theme);
  @include custom-datepicker-theme($theme);
}