$main-palette: (
    50 : #e7e8e9,
    100 : #c2c5c8,
    200 : #9a9fa4,
    300 : #71787f,
    400 : #525b63,
    500 : #343e48,
    600 : #2f3841,
    700 : #273038,
    800 : #212830,
    900 : #151b21,
    A100 : #66b2ff,
    A200 : #3399ff,
    A400 : #007fff,
    A700 : #0073e6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    ),
);

$secondary-palette: (
    50 : #e3f5f7,
    100 : #b9e6ec,
    200 : #8bd6df,
    300 : #5cc6d2,
    400 : #39b9c8,
    500 : #16adbe,
    600 : #13a6b8,
    700 : #109caf,
    800 : #0c93a7,
    900 : #068399,
    A100 : #c5f5ff,
    A200 : #92ecff,
    A400 : #5fe4ff,
    A700 : #46dfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);